@import "variables";

.CTA {
  // font-size: 18px;
  a {
    color: #fff;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    line-height: 1.5;
  }
  input {
    font-size: inherit;
  }
  input[type="email"] {
    color: #fff;
    background-color: rgba($lightGrey, 0.3);
    border: none;
    border-radius: 99px;
    text-align: center;
    padding: 7px;
    width: 400px;
    max-width: calc(100% - 20px);
    display: block;
    margin: 20px auto;
    &::placeholder {
      color: $lightGrey;
    }
  }
  .checkbox-wrapper {
    margin-top: 15px;
    user-select: none;
    input[type="checkbox"] {
      color: $primary;
      background-color: #fff;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 5px;
    }
    label {
      line-height: 1.1;
      font-size: 15px;
      margin-left: 3px;
    }
  }
  input[type="submit"] {
    // margin: 10px 0;
    appearance: none;
  }
}
