@import "variables";

footer {
  font-size: 17px;
  margin: 40% auto 60px auto;
  .like-counter {
    margin-bottom: 15px;
    button {
      display: block;
      margin: auto;
      padding: 0 15px;
      background: none;
      border: none;
      svg {
        width: 36px;
        height: 36px;
      }
      .heart-border {
        fill: $black;
      }
      .heart-fill {
        fill: $red;
        display: none;
      }
    }
  }
  .attribution,
  a {
    margin: 15px auto;
    color: inherit;
    color: $lightGrey;
    line-height: 1.6;
  }
  .hidden-on-mobile {
    display: none;
  }
}

@media (min-width: 440px) {
  footer {
    margin-bottom: 15px;
    .hidden-on-desktop {
      display: none;
    }
    .hidden-on-mobile {
      display: block;
    }
  }
}
