@import "variables";

.riddles {
  max-width: 480px;
  margin: auto;
  .riddle-question {
    font-weight: 700;
    line-height: 1.5;
  }
  label {
    cursor: pointer;
    background-color: $light;
    user-select: none;
    display: block;
    margin: 15px 0;
    padding: 7px;
    border-radius: 99px;
  }
  input[type="radio"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
    pointer-events: none;
  }
  input[type="radio"]:checked + label {
    color: #fff;
    background-color: $primary;
  }
  .treasure-chest-wrapper {
    position: relative;

    .christmas-tree {
    }

    svg {
      // position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      // bottom: 0;

      #lock {
        transform: rotate(0deg);
        transform-box: fill-box;
        transform-origin: center;
        transition: transform 0.15s;
        #lock-gap {
          transform-box: fill-box;
          transform-origin: bottom;
          opacity: 0;
          transform: rotateX(90deg);
          transition: transform 0.15s;
        }
      }
      #lock.animating {
        animation-name: swing;
        animation-duration: 0.5s;
        animation-timing-function: linear;
      }
      @keyframes swing {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(20deg);
        }
        30% {
          transform: rotate(-20deg);
        }
        50% {
          transform: rotate(12deg);
        }
        70% {
          transform: rotate(-6deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      #lid-underside {
        transform: rotateX(90deg);
        transform-box: fill-box;
        transform-origin: bottom;
        transition: transform 1.5s ease;
        transition-delay: 0.15s;
      }
      #gold-blur {
        opacity: 0;
        transition: opacity 1.5s;
        transition-delay: 0.15s;
      }
      #chest-top {
        transform: rotateX(0);
        transition: transform 1.5s ease;
        transition-delay: 0.15s;
      }

      #treasure-chest.unlocked {
        #lid-underside {
          transform: rotateX(0deg);
        }
        #gold-blur {
          opacity: 0.6;
        }
        #chest-top {
          transform: rotateX(70deg);
        }
        #lock {
          transform: rotate(10deg);
          #lock-gap {
            opacity: 1;
            transform: rotateX(0deg);
          }
        }
      }
    }
  }

  .big-button {
    cursor: pointer;
    appearance: none;
  }
}

.App.dark {
  .riddles {
    pointer-events: none;
    input[type="radio"]:not(:checked) + label {
      color: #fff;
      background-color: $primary;
      opacity: 0.2;
    }
    .big-button,
    .error-message {
      display: none;
    }
  }
}
