@import "variables";

form {
  margin-bottom: 25vh;
  select {
    width: 100%;
    display: block;
    font-size: inherit;
    background: none;
    border: none;
    &:focus {
      outline: 0;
      border: none;
    }
    option {
      font-size: 18px;
      position: relative;
      cursor: pointer;
      border-radius: 99px;
      box-shadow: 0 0 10px 100px $light inset;
      padding: 10px 30px;
      text-transform: uppercase;
      margin: 10px auto;
      border: solid transparent 3px;
      &:hover {
        opacity: 0.8;
      }
    }
    option:checked {
      border: solid $primary 3px;
      box-shadow: 0 0 10px 100px $primary inset;
      &:hover {
        opacity: 1;
      }
    }
  }
  svg {
    display: block;
    margin: 45px auto;

    #lock {
      transform: rotate(0deg);
      transform-box: fill-box;
      transform-origin: center;
      transition: transform 0.15s;
      #lock-gap {
        transform-box: fill-box;
        transform-origin: bottom;
        opacity: 0;
        transform: rotateX(90deg);
        transition: transform 0.15s;
      }
    }
    #lock.animating {
      animation-name: swing;
      animation-duration: 0.5s;
      animation-timing-function: linear;
    }
    @keyframes swing {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(20deg);
      }
      30% {
        transform: rotate(-20deg);
      }
      50% {
        transform: rotate(12deg);
      }
      70% {
        transform: rotate(-6deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    #lid-underside {
      transform: rotateX(90deg);
      transform-box: fill-box;
      transform-origin: bottom;
      transition: transform 1.5s ease;
      transition-delay: 0.15s;
    }
    #gold-blur {
      opacity: 0;
      transition: opacity 1.5s;
      transition-delay: 0.15s;
    }
    #chest-top {
      transform: rotateX(0);
      transition: transform 1.5s ease;
      transition-delay: 0.15s;
    }

    #treasure-chest.unlocked {
      #lid-underside {
        transform: rotateX(0deg);
      }
      #gold-blur {
        opacity: 0.6;
      }
      #chest-top {
        transform: rotateX(70deg);
      }
      #lock {
        transform: rotate(10deg);
        #lock-gap {
          opacity: 1;
          transform: rotateX(0deg);
        }
      }
    }
  }
  input {
    cursor: pointer;
    -webkit-appearance: none;
  }
}

.App.dark {
  form {
    select {
      pointer-events: none;
      option {
        color: #fff;
        box-shadow: 0 0 10px 100px $primary inset;
      }
      option:checked {
        color: #fff !important;
        box-shadow: 0 0 10px 100px $primary inset;
      }
      option:not(:checked) {
        opacity: 0.4;
      }
    }
    input {
      pointer-events: none;
    }
  }
}
