@import "variables";

.fab-arrow {
  z-index: 0.5;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  right: 100px;
}

.fab {
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 72px;
  height: 72px;
  background-color: $black;
  border-radius: 99px;
  box-shadow: rgba($black, 0.25) 0 2px 4px;
  transition: background-color 0.6s;

  svg {
    margin-top: -1px;
    width: 42px;
    height: 42px;
    fill: white;
    transition: fill 0.6s;
  }
}

.App.dark {
  .fab {
    background-color: $lightGrey;
    svg {
      fill: $black;
    }
  }
}

.fab.animating {
  animation-name: swell;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}
@keyframes swell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.map-modal {
  .pswp__bg,
  .pswp__img--placeholder--blank {
    background-color: $ultralight;
  }
}
