@import "variables";

@media print {
  body {
    .App {
      background-color: #fff;
      font-size: 17px;
      .print-button,
      .big-button,
      .fab,
      .vertical-line {
        display: none;
      }
      .inline-button {
        text-decoration: none;
      }
      .Intro {
        h1 {
          font-size: 40px;
        }
        margin-top: 0;
      }
      .inline-map {
        display: block;
        height: 550px;
        margin: auto;
      }
      .riddles {
        max-width: none;
        .riddle-wrapper {
          text-align: left;
          width: calc(50% - 60px);
          display: inline-block;
          vertical-align: top;
          padding: 5px 30px;

          .riddle-question {
            font-weight: bold;
          }

          label {
            background-color: #fff;
            margin: 0;
            padding: 0;
          }

          input[type="radio"]:checked + label {
            background-color: #fff;
          }
        }
        &::after {
          margin-top: 150px;
          content: "Check your answers at MorleyPark.co.uk";
          padding: 5px 30px;
          border: solid $black 1px;
        }
      }
      .treasure-chest-wrapper {
        display: none;
      }
      footer {
        margin: 30px auto 0 auto;
      }
    }
  }
}
