@media print {
  body {
    .App {
      background-color: #fff;
      font-size: 17px;
      .print-button,
      .big-button,
      .fab,
      .vertical-line {
        display: none;
      }
      .inline-button {
        text-decoration: none;
      }
      .Intro {
        h1 {
          font-size: 40px;
        }
        margin-top: 0;
      }
      .inline-map {
        display: block;
      }
      form {
        select {
          option {
            text-align: center;
            box-shadow: none;
          }
          option,
          option:checked {
            background: none;
            border: none;
          }
        }
      }
    }
  }
}
