@import "variables";

.ribbon {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: $primary;
  color: #fff;

  button {
    width: 100%;
    padding: 5px;
    background: none;
    border: none;
    font-size: inherit;
  }
}
