@font-face {
  font-family: "Gloria Hallelujah";
  src: url("../assets/fonts/GloriaHallelujah.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Impact";
  src: url("../assets/fonts/Impact.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@media print {
  body .App {
    font-size: 17px;
  }
  body .App .print-button,
  body .App .big-button,
  body .App .fab,
  body .App .like-counter,
  body .App .vertical-line {
    display: none;
  }
  body .App .inline-button {
    text-decoration: none;
  }
  body .App .Intro {
    margin-top: 0;
  }
  body .App .inline-map {
    display: block;
  }
  body .App form select option {
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .App form select option,
  body .App form select option:checked {
    background: none;
    border: none;
  }
}

.inline-button.print-button {
  font-size: 19px;
  padding: 0 20px;
}

.App .content canvas {
  position: fixed !important;
  height: 100vh;
}

.fab {
  z-index: 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 72px;
  height: 72px;
  background-color: #00263e;
  border-radius: 99px;
  -webkit-box-shadow: rgba(0, 38, 62, 0.25) 0 2px 4px;
          box-shadow: rgba(0, 38, 62, 0.25) 0 2px 4px;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.fab svg {
  margin-top: -1px;
  width: 42px;
  height: 42px;
  fill: white;
  -webkit-transition: fill 0.6s;
  transition: fill 0.6s;
}

.App.dark .fab {
  background-color: #80929e;
}

.App.dark .fab svg {
  fill: #00263e;
}

.fab.animating {
  -webkit-animation-name: swell;
          animation-name: swell;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes swell {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes swell {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.map-modal {
  z-index: 2;
  background: #f7f5ec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-modal .map {
  margin-top: 5%;
  height: 85%;
  max-width: 100%;
}

.map-modal .quit {
  border: solid #00263e 2px;
  border-radius: 99px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #f7f5ec;
}

.map-modal .quit svg {
  padding: 10px;
  width: 32px;
  height: 32px;
  fill: #00263e;
}

form {
  max-width: 500px;
  margin: 0 auto 25vh auto;
}

form .riddle-question {
  line-height: 1.5;
}

form label {
  cursor: pointer;
  background-color: #f3e1c4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin: 15px 0;
  padding: 7px;
  border-radius: 99px;
}

form input[type="radio"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  pointer-events: none;
}

form input[type="radio"]:checked + label {
  background-color: #00b9cd;
}

form svg {
  display: block;
  margin: 45px auto;
}

form svg #lock {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

form svg #lock #lock-gap {
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

form svg #lock.animating {
  -webkit-animation-name: swing;
          animation-name: swing;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  30% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  70% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  30% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  70% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

form svg #lid-underside {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

form svg #gold-blur {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

form svg #chest-top {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

form svg #treasure-chest.unlocked #lid-underside {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

form svg #treasure-chest.unlocked #gold-blur {
  opacity: 0.6;
}

form svg #treasure-chest.unlocked #chest-top {
  -webkit-transform: rotateX(70deg);
          transform: rotateX(70deg);
}

form svg #treasure-chest.unlocked #lock {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

form svg #treasure-chest.unlocked #lock #lock-gap {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

form .big-button {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.App.dark form input {
  pointer-events: none;
}

.App.dark form input[type="radio"]:not(:checked) + label {
  background-color: #00b9cd;
  opacity: 0.2;
}

.App.dark form .big-button {
  pointer-events: none;
}

footer {
  font-size: 17px;
  margin-bottom: 120px;
}

footer .like-counter {
  margin-bottom: 15px;
}

footer .like-counter button {
  display: block;
  margin: auto;
  padding: 0 15px;
  background: none;
  border: none;
}

footer .like-counter button svg {
  width: 36px;
  height: 36px;
}

footer .like-counter button .heart-border {
  fill: #00263e;
}

footer .like-counter button .heart-fill {
  fill: #e74c3c;
  display: none;
}

footer .attribution {
  color: #80929e;
}

footer .attribution a {
  color: inherit;
}

@media (min-width: 440px) {
  footer {
    margin-bottom: 15px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p {
  line-height: 1.5;
}

.App,
button,
select,
input {
  font-family: "Gloria Hallelujah", serif;
  color: #00263e;
}

button {
  cursor: pointer;
  color: inherit;
}

.big-button {
  opacity: 1;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.App {
  padding: 20px;
  color: #00263e;
  background-color: #f7f5ec;
  text-align: center;
  font-size: 21px;
  -webkit-transition: background-color 0.6s, color 0.6s;
  transition: background-color 0.6s, color 0.6s;
}

.App.dark {
  background-color: #00263e;
  color: #fff;
}

.App.dark .vertical-line {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #80929e), color-stop(0%, rgba(128, 146, 158, 0)));
  background-image: linear-gradient(#80929e 33%, rgba(128, 146, 158, 0) 0%);
}

.App.dark .fill-button {
  background: #00263e;
}

.content {
  max-width: 600px;
  margin: auto;
}

.Intro {
  margin-top: 10vh;
}

.Intro .instructions {
  margin: 30px auto 45px auto;
}

.Intro .instructions .inline-button {
  line-height: inherit;
}

.inline-map {
  width: 100%;
  margin: 45px auto;
  display: none;
}

.inline-button {
  font-size: inherit;
  background: none;
  border: none;
  text-decoration: underline;
  padding: 0;
}

.big-button {
  font-size: inherit;
  padding: 5px 45px;
}

.fill-button {
  border: none;
  background: #00b9cd;
  color: #fff;
  -webkit-box-shadow: rgba(0, 38, 62, 0) 0 0;
          box-shadow: rgba(0, 38, 62, 0) 0 0;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.6s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.6s;
  transition: transform 0.2s, box-shadow 0.6s;
  transition: transform 0.2s, box-shadow 0.6s, -webkit-transform 0.2s, -webkit-box-shadow 0.6s;
}

.fill-button:hover {
  -webkit-box-shadow: rgba(0, 38, 62, 0.3) 1px 2px 4px;
          box-shadow: rgba(0, 38, 62, 0.3) 1px 2px 4px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

h1 {
  font-size: 73px;
  letter-spacing: -0.5px;
  line-height: 1;
  margin: 15px 0;
  font-family: "Impact", sans-serif;
  text-transform: uppercase;
}

.vertical-line {
  height: 150px;
  width: 3px;
  margin: 45px auto 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #00263e), color-stop(0%, rgba(0, 38, 62, 0)));
  background-image: linear-gradient(#00263e 33%, rgba(0, 38, 62, 0) 0%);
  background-position: right;
  background-size: 3px 30px;
  background-repeat: repeat-y;
  -webkit-transition: background-image 0.6s;
  transition: background-image 0.6s;
}
/*# sourceMappingURL=main.css.map */