@import "fonts";
@import "variables";

@import "print";

@import "header";
@import "confetti";
@import "map";
@import "form";
@import "footer";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p {
  line-height: 1.5;
}

.App,
button,
select,
input {
  font-family: "Gloria Hallelujah", serif;
  color: $black;
}

button {
  cursor: pointer;
  color: inherit;
}

.big-button {
  opacity: 1;
  transition: opacity 0.15s;
}

.App {
  padding: 20px;
  color: $black;
  background-color: $ultralight;
  text-align: center;
  font-size: 21px;
  transition: background-color 0.6s, color 0.6s;
}

.App.dark {
  background-color: $black;
  color: #fff;
  .vertical-line {
    background-image: linear-gradient($lightGrey 33%, rgba($lightGrey, 0) 0%);
  }
  .fill-button {
    background: $black;
  }
}

.content {
  max-width: 600px;
  margin: auto;
}

.Intro {
  margin-top: 10vh;
  .instructions {
    margin: 30px auto 45px auto;
    .inline-button {
      line-height: inherit;
    }
  }
}

.inline-map {
  width: 100%;
  margin: 45px auto;
  display: none;
}

.inline-button {
  font-size: inherit;
  background: none;
  border: none;
  text-decoration: underline;
  padding: 0;
}

.big-button {
  font-size: inherit;
  padding: 5px 45px;
}

// .outline-button {
//   text-decoration: none;
//   color: inherit;
//   background: none;
//   border: solid 3px;
//   &:hover {
//     background: $black;
//     color: #fff;
//   }
// }

.fill-button {
  border: none;
  background: $primary;
  color: #fff;
  box-shadow: rgba($black, 0) 0 0;
  transition: transform 0.2s, box-shadow 0.6s;
  &:hover {
    box-shadow: rgba($black, 0.3) 1px 2px 4px;
    transform: translateY(-2px);
  }
}

h1 {
  font-size: 73px;
  letter-spacing: -0.5px;
  line-height: 1;
  margin: 15px 0;
  font-family: "Impact", sans-serif;
  text-transform: uppercase;
}

.vertical-line {
  height: 150px;
  width: 3px;
  margin: 45px auto 30px;
  background-image: linear-gradient($black 33%, rgba($black, 0) 0%);
  background-position: right;
  background-size: 3px 30px;
  background-repeat: repeat-y;
  transition: background-image 0.6s;
}
